a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.ov_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 94vh;
    padding: 1rem 1.5rem 1rem 1rem;
    margin-right: 1.5rem;
    border-right: #626468 solid .1rem;
}

.ov_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEF100;
    padding: .5rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    transition: all 1s ease;
    cursor: pointer;
}

.ov_icon_size {
    width: 1.5rem;
}

.ovm_opc{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.ovm_opc{
    display: flex;
    color: #111111;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    transition: all 1s ease;
}

.ovm_opc:hover{
    transform: scale(1.2);
}

.ovm_opc_active{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-bottom: .7rem;
    background-color: #111111;
    color: #FFFFFF;
    cursor: pointer;
}

.ovm_usr{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}

.ov_user{
    width: 4.5rem;
}
